*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
}
#editor{
    border: 1px solid black;
    padding: 1em;
    display: flex;
    flex-direction: column;
    gap: 3em;
    #toolbar{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 1em;
        #link{
            position: relative;
            #anchor-form{
                position: absolute;
                gap: 0.5em;
                display: none;
            }
        }
    }
    #image-container{
        display: block;
        width: 100%;
        #image-preview-container{
            display: flex;
            flex-wrap: wrap;
            gap: 0.5em;
            justify-content: center;
            img{
                width: 200px;
                height: 200px;
                object-fit: contain;
                border-radius: 15px;
            }
        }
    }
}
.display-flex{
    display: flex !important;
}